body {
    background: #fcf6f5ff !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: larger;
}

h1 {
    color: #292b2c;
    font-family: 'Arvo', serif;
}

h2 {
    color: #292b2c;
    font-family: 'Arvo', serif;
}

h3 {
    color: #292b2c;
    font-family: 'Arvo', serif;
}

h4 {
    font-family: 'Arvo', serif;
}

.navbar-brand {
    font-family: 'Arvo';
}

.example {
    padding: 10px;
    border-radius: 5px;
    color: white !important;
}